@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nova+Square&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FCF9F3;
    overflow-x: hidden;
}

*::selection {
    background-color: #2D2D2D;
    color: #FCF9F3;
}

::-webkit-scrollbar {
    width: 0;
}

.main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 0;
    text-align: center;
    z-index: 0;
}

nav {
    width: 90%;
    height: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2D2D2D;
    margin-bottom: 4vh;
}

nav h1 {
    font-family: sans-serif;
    font-size: 1.3vw;
    color: #303030;
    font-weight: 300;
    text-shadow: 0.3vw 0.3vw 1vw #c1a36286;
    transition: all 0.3s ease-in-out;
}

.content {
    width: 90%;
    flex: 1;
    padding: 2vh 2vw;
}

.content h1 {
    font-family: "Playfair Display", serif;
    font-size: 7vw;
    color: #2D2D2D;
    text-shadow: 0 0 1.4vw rgba(255, 205, 96, 0.4);
    font-weight: 700;
    margin-bottom: 2vh;
}

.content p {
    font-size: 1.4vw;
    line-height: 1.6;
    color: #2D2D2D;
    text-shadow: 0 0 1vw rgba(255, 205, 96, 0.3);
    font-family: "Josefin Sans", sans-serif;
}

.content img
{
    width: 17vw;
}

@media screen and (max-width: 768px) {
    nav h1 {
        font-size: 4vw;
    }

    .content h1 {
        font-size: 10vw;
    }

    .content p {
        font-size: 3.5vw;
    }
    
    .content img {

        width: 25vw;
    }
    
}

@media screen and (max-width: 480px) {
    nav h1 {
        font-size: 5vw;
    }

    .content h1 {
        font-size: 12vw;
    }

    .content p {
        font-size: 4.5vw;
    }

    .content img {
        width: 35vw;
    }
}

